<!DOCTYPE html>
<html>
<head>
    <title>PolygonDevs</title>
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<!-- particles.js container -->
<div id="particles-js">
    <div class="center-text">
        <h1>PolygonDevs</h1><h2 style="font-weight: 400">Estamos en mantenimiento.</h2>
    </div>
</div>


<script src="/javascripts/particles.min.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/lib/stats.js"></script>

<!-- particles.js lib (JavaScript CodePen settings): https://github.com/VincentGarreau/particles.js -->
</body>
</html>
